.container {
    margin: 0 auto;
    max-width: 1300px
}

.text-center {
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

textarea {
    padding: 5px
}

input {
    width: 240px;
}